<div class="footer-content">
  <div class="footer-navs" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="5px" fxLayoutAlign="center top">
    <div fxFlex="17" fxLayoutAlign="center">
      <a routerLink="/fr">
        <img class="logo footer-logo-white" fxHide.lt-sm="true" src="assets/images/logo.png" alt="" />
      </a>
    </div>
    <div fxFlex="14" fxLayoutAlign="center">
      <ul>
        <li><a><strong>Principale</strong></a></li>
        <li><a routerLink="/fr">Accueil</a></li>
        <li><a routerLink="/fr/banque">Banque</a></li>
        <li><a routerLink="/fr/jackpots-progressifs">Jackpots Progressifs</a></li>
      </ul>
    </div>
    <div fxFlex="14" fxLayoutAlign="center">
      <ul>
        <li><a><strong>Jeux casino en ligne</strong></a></li>
        <li><a routerLink="/fr/machine-a-sous-en-ligne">Machines &Agrave; Sous En Ligne</a></li>
        <li><a routerLink="/fr/video-poker">Vid&eacute;o Poker En Ligne</a></li>
        <li><a routerLink="/fr/sic-bo">Sic Bo En Ligne</a></li>
        <li><a routerLink="/fr/bingo-en-ligne">Bingo En Ligne</a></li>
        <li><a routerLink="/fr/keno-en-ligne">Keno En Ligne</a></li>
        <li><a routerLink="/fr/baccarat-en-ligne">Baccarat En Ligne</a></li>
        <li><a routerLink="/fr/craps-en-ligne">Craps En Ligne</a></li>
      </ul>
    </div>
    <div fxFlex="14" fxLayoutAlign="center">
      <ul>
        <li><a><strong>Jeux de table en ligne</strong></a></li>
        <li><a routerLink="/fr/blackjack-en-ligne">Blackjack En Ligne</a></li>
        <li><a routerLink="/fr/blackjack-multihand">Blackjack Multihand</a></li>
        <li><a routerLink="/fr/blackjack-single-hand">Blackjack Single Hand</a></li>
        <li><a routerLink="/fr/roulette-en-ligne">Roulette En Ligne</a></li>
        <li><a routerLink="/fr/roulette-europeenne">Roulette Europ&eacute;enne</a></li>
        <li><a routerLink="/fr/la-roulette-americaine">Roulette Am&eacute;ricaine</a></li>
        <li><a routerLink="/fr/roulette-francaise">Roulette Fran&ccedil;aise</a></li>
      </ul>
    </div>
    <div fxFlex="14" fxLayoutAlign="center">
      <ul>
        <li><a><strong>Jouez Maintenant</strong></a></li>
        <li><a routerLink="/fr/jeux-du-casino">Jeux Casino</a></li>
        <li><a routerLink="/fr/casino-sur-mobile">Casino Sur Mobile</a></li>
        <li><a routerLink="/fr/bonus-terms">Termes Et Conditions De Bonus</a></li>
      </ul>
    </div>
    <div fxFlex="14" fxLayoutAlign="center">
      <ul>
        <li><a><strong>Misc</strong></a></li>
        <li><a routerLink="/fr/termes-et-conditions">Termes Et Conditions</a></li>
        <li><a routerLink="/fr/confidentialite">Confidentialité</a></li>
        <li><a routerLink="/fr/anty-money-laundering-policy">Politique </a></li>
      </ul>
    </div>

  </div>

  <br />

  <div class="payment-logo" fxLayout="row" dir="ltr" fxLayout.lt-sm="column" fxLayoutGap="2px" fxLayoutAlign="center center">
    <div fxFlex="13">
      <img class="footer-logos" src="assets/images/anti-spam.webp " #f_spam />
    </div>
    <div fxFlex="13">
      <img class="footer-logos" src="assets/images/mastercard1.webp" #f_mastercard />
    </div>
    <div fxFlex="13">
      <img class="footer-logos" src="assets/images/visa1.webp" #f_visa />
    </div>
    <div fxFlex="13">
    </div>
  </div>


</div>
