
<div class="header-image" [ngStyle]="{backgroundImage:'url(assets/images/slider-desktop.jpg)'}">
    
</div>

<div class="page-body-full">
  <mat-tab-group id="main-tab" dynamicHeight>
    <mat-tab label="First Tab">
      <!-- Tab Icon #052f5c -->
      <ng-template mat-tab-label>
        <mat-icon class="cas-tab-icon">play_circle_filled</mat-icon> &nbsp; all games
      </ng-template>
      <!-- Tab Contents -->
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
      <mat-card class="games-card" fxFlex.lt-sm="48" fxFlex.lt-md="30" fxFlex="18"> <img src="https://via.placeholder.com/150" alt=""> </mat-card>
       </mat-tab>
    <mat-tab label="Second Tab">
      <ng-template mat-tab-label>
        <mat-icon class="cas-tab-icon">featured_video</mat-icon> &nbsp; featured
      </ng-template>
    </mat-tab>
    <mat-tab label="Third Tab">
      <ng-template mat-tab-label>
        <mat-icon class="cas-tab-icon">card_travel</mat-icon> &nbsp; pokies
      </ng-template>
    </mat-tab>
    <mat-tab label="Fourth Tab">
      <ng-template mat-tab-label>
        <mat-icon class="cas-tab-icon">videocam</mat-icon> &nbsp; table games
      </ng-template>
    </mat-tab>
    <mat-tab label="Fifth Tab">
      <ng-template mat-tab-label>
        <mat-icon class="cas-tab-icon">widgets</mat-icon> &nbsp; video poker
      </ng-template>
    </mat-tab>
    <mat-tab label="Fifth Tab">
      <ng-template mat-tab-label>
        <mat-icon class="cas-tab-icon">attach_money</mat-icon> &nbsp; jackpots
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

    <div class="page-body">
  
        <h3>What is Lorem Ipsum?</h3>
        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h3>What is Lorem Ipsum?</h3>
        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <h3>What is Lorem Ipsum?</h3>
        <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>https://comicplayjoin.com/</p>
        <br/>

        <div class="page-row">

            <!--Accordion 1-->
            <details>
                <summary class="accordion"><h4 class="text-header">What is Lorem Ipsum?</h4></summary>

                <div class="accordionDrop">
                    <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </details>

            <!--Accordion 2-->
            <details>
                <summary class="accordion"><h4 class="text-header">What is Lorem Ipsum?</h4></summary>

                <div class="accordionDrop">
                    <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </details>

            <!--Accordion 3-->
            <details>
                <summary class="accordion"><h4 class="text-header">What is Lorem Ipsum?</h4></summary>

                <div class="accordionDrop">
                    <p><strong>Lorem Ipsum</strong>&nbsp;is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </details>

            <br />
            <br />
        </div>

    </div>

